
.menu:hover{
    -fx-background-color: #6b6b6b;  
}
.menu:showing{
    -fx-background-color:  #1d1d1d;
}

#table_id{
    -fx-margin: 30,0,0,0;
}
.grid_style{
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
}
#items_row{

}
.oneCell  {  
    -fx-control-inner-background: #41414157;
    fx-table-cell-border-color: #5c4b00;
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}
.active_table{
    -fx-text-fill: red;
}
.error{
    -fx-text-fill: rgb(146, 0, 0);
}
.start_label{
    -fx-text-fill: rgba(124, 124, 124, 0.63);
}

.error-box{
    -fx-border-color: red;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0.5;
}